<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/logo.gif" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="nav-bar">
      <div class="title">
        <img
          src="/images/logo.gif"
          class="logo"
          onclick="location.href = '/compose'"
          title="Compose A Blog"
        />
        <p class="name" style="margin-left: 20px">Blog Bugle</p>
      </div>
      <div class="menu">
        <li><a href="/"> Home </a></li>
        <li><a href="/about"> AboutUs </a></li>
        <li><a href="/contact"> ContactUs </a></li>
      </div>
    </nav>
  </body>
</html>
