<%-include('partials/header') -%>
<div class="notFound">
  <h1><%=title%></h1>
  <p><%=body%></p>
  <a
    href="/compose"
    style="
      font-size: 20pt;
      color: rgb(255, 0, 0);
      text-decoration: underline overline;
      padding: 10px;
    "
    >| Compose a Blog Now |</a
  >
</div>
<%-include('partials/footer') -%>
